.inner
  .slideshow
    %img{:alt => "", :height => "760", :src => "assets/casino3.jpeg", :width => "1600"}/
    %img{:alt => "", :height => "760", :src => "assets/casino1.jpeg", :width => "1600"}/
    %img{:alt => "", :height => "760", :src => "assets/casino2.jpeg", :width => "1600"}/

= render "shared/sidebth"    

%body
  %section#work.work-section
    %header.section-header.clearfix
      .inner
        %h2 Let's First CAGINO！
        %ul.tabs-nav
          %li
            %a{:href => "#work01"} Step 01
          %li
            %a{:href => "#work02"} Step 02
          %li
            %a{:href => "#work03"} Step 03
          %li
            %a{:href => "#work04"} Step 04
          %li
            %a{:href => "#work05"} Step 05
    .section-body
      %section#work01.tabs-panel
        .image-wrapper
          %img.step-pic{:alt => "", :height => "400", :src => "/assets/cube.jpg", :width => "1600"}/
        .content 
          .inner
            %h3.title Step 01
            %h4.title1 カジノに行く前に知ろう
            %p.description カジノには様々な注意事項がございます。まずは大まかに４つの注意すべきポイントをご紹介いたしますので、ぜひ参考にして初めてのカジノを楽しみましょう！
            = link_to  stepc_casinos_path  do
              .read-more Read more 

      %section#work02.tabs-panel
        .image-wrapper
          %img.step-pic{:alt => "", :height => "400", :src => "/assets/game.jpg", :width => "1600"}/
        .content
          .inner
            %h3.title Step 02
            %h4.title1 カジノで遊ぶ心得
            %p.description 皆様、カジノとはギャンブルです。勝つときもあれば負けるときもあります。その為に事前にカジノで楽しむ為に気持ちの準備をしましょう。
            = link_to  stepc_casinos_path  do
              .read-more Read more 
      %section#work03.tabs-panel
        .image-wrapper
          %img.step-pic{:alt => "", :height => "400", :src => "/assets/poker.jpg", :width => "1600"}/
        .content
          .inner
            %h3.title Step 03
            %h4.title1 カジノの遊び方を知ろう
            %p.description カジノで遊ぶためにはチップが必要と思う方がいらっしゃるかと思います。しかしチップだけでなく現金でできるゲームも数多く存在しますのでその種類をお教えいたします。
            = link_to  stepc_casinos_path  do
              .read-more Read more 
      %section#work04.tabs-panel
        .image-wrapper
          %img.step-pic{:alt => "", :height => "400", :src => "/assets/stairs.jpg", :width => "1600"}/
        .content
          .inner
            %h3.title Step 04
            %h4.title1 是非遊んで欲しい！オススメのカジノゲーム
            %p.description カジノの遊び方はstep3で説明しました。step4ではオススメのゲームを紹介いたします。
            = link_to  stepc_casinos_path  do 
              .read-more Read more 
      %section#work05.tabs-panel
        .image-wrapper
          %img.step-pic{:alt => "", :height => "400", :src => "/assets/las.png", :width => "1600"}/
        .content
          .inner-black
            %h3.title Step 05
            %h4.title1 カジノを楽しむための総まとめ
            %p.description 最後にカジノで楽しく遊ぶためにポイントご紹介いたしますので、是非参考にして頂き初めてのカジノを楽しみましょう！！！
            = link_to  stepc_casinos_path  do
              .read-more Read more 


%footer.page-footer{:role => "contentinfo"}
  %small.copyright
    Please come here again ©

