.inner
  .slideshow
    %img{:alt => "", :height => "700", :src => "assets/4.jpeg", :width => "1600"}/
    %img{:alt => "", :height => "700", :src => "assets/5.jpeg", :width => "1600"}/
    %img{:alt => "", :height => "700", :src => "assets/6.jpeg", :width => "1600"}/

= render "shared/sidebth"    

%body
  %section#work.work-section
    %header.section-header.clearfix
      .inner
        %h2 Let's First 競馬！！
        %ul.tabs-nav
          %li
            %a{:href => "#work01"} Step 01
          %li
            %a{:href => "#work02"} Step 02
          %li
            %a{:href => "#work03"} Step 03
          %li
            %a{:href => "#work04"} Step 04
          %li
            %a{:href => "#work05"} Step 05
    .section-body
      %section#work01.tabs-panel
        .image-wrapper
          %img{:alt => "", :height => "400", :src => "", :width => "1600"}/
        .content
          .inner
            %h3.title Step 01
            %h4.title1 競馬場またはWINSへ行こう
            %p.description 競馬を楽しむためにも、住んでいる近くに『競馬場』があるのか探してみましょう。ここでは合計25ヶ所の競馬場を紹介します。
            = link_to steph_horse_index_path  do
              .read-more Read more 
              
      %section#work02.tabs-panel
        .image-wrapper
          %img{:alt => "", :height => "400", :src => "", :width => "1600"}/
        .content
          .inner
            %h3.title Step 02
            %h4.title1 競馬のやり方を覚えよう
            %p.description 競馬をするにしても、まず知っておきたいのが『馬券の種類と買い方』です。自分が予想した馬券を購入できるように、やり方を確認していきましょう。
            = link_to steph_horse_index_path  do
              .read-more Read more 
      %section#work03.tabs-panel
        .image-wrapper
          %img{:alt => "", :height => "400", :src => "", :width => "1600"}/
        .content
          .inner
            %h3.title Step 03
            %h4.title1 馬券の購入から払い戻しまで
            %p.description 馬券の種類がわかったらいよいよ馬券を購入していきます。購入から的中した馬券の払い戻しまでの手順や方法をご紹介していくので、順を追って確認してみてくださいね。
            = link_to steph_horse_index_path  do
              .read-more Read more 
      %section#work04.tabs-panel
        .image-wrapper
          %img{:alt => "", :height => "400", :src => "", :width => "1600"}/
        .content
          .inner
            %h3.title Step 04
            %h4.title1 馬券の購入から払い戻しまで
            %p.description まげすぎみんなは兎が青くなくからさっきの係りの箱げをすん第一窓顔のおねがいを考えると行っですた。野ねずみは前来て出します。扉は一いう首のようをついてきまし。
            = link_to steph_horse_index_path  do
              .read-more Read more 
      %section#work05.tabs-panel
        .image-wrapper
          %img{:alt => "", :height => "400", :src => "", :width => "1600"}/
        .content
          .inner
            %h3.title Step 05
            %h4.title1 馬券の購入から払い戻しまで
            %p.description まげすぎみんなは兎が青くなくからさっきの係りの箱げをすん第一窓顔のおねがいを考えると行っですた。野ねずみは前来て出します。扉は一いう首のようをついてきまし。
            = link_to steph_horse_index_path  do
              .read-more Read more 


%footer.page-footer{:role => "contentinfo"}
  %small.copyright


    COPYRIGHT ©
    %a{:href => "http://www.shiftbrain.co.jp", :target => "_blank"} SHIFTBRAIN Inc.
